* {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 16px;
}

body {
    background-color: #fff;
    margin: 0;
    padding: 0;
}

input[type='text'] {
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}
input:focus[type='text'] {
    outline: none;
    border-color: #3b82f6;
}

input[type='checkbox'] {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #00000000;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
