* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #eee;
}

input[type='text'] {
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}
input:focus[type='text'] {
    outline: none;
    border-color: #3b82f6;
}
